:root {
    --ledig-maskine: #36CC25;
    --optaget-maskine: #009BF0;
    --min-vaske-tid: #7bf8ff;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: sans-serif;
    background-color: #3f4a3c; /*armygreen*/

}
.logo{
    color: azure; /*white*/
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
div{
   
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links a{
    color: azure;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links li{
    list-style: none;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 2px;
    background-color: azure;
    margin: 5px;
}
h4{
    letter-spacing: 10px;
    font-weight: bolder;
   
}
h6{
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 50px;
}
.CV {
    padding: 10px;

}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    background: #3f4a3c;
    font-family: sans-serif;
    color: azure;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    text-align: center;
   }

h5 {
    background-color: #cfa7a7;
}
.col{
    font-size: 12px;
}
.row{
    text-align: center;
}
.square {
    width: 150px;
    height: 150px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    position: relative;
    background-color: blue;
}

.section-loaded {
    display: inline-block;
    float: left;
}

.section-toload {
    display: inline-block;
    float: left;
    position: relative;
    overflow: hidden;
}


.kaldender-box {
    background-color: #EFEFEF;
    text-transform: none;
    overflow: hidden;
}

.kalender-box-underbox {
    padding:25px;
}

.vaskemaskine-wrapper {
    position: relative;
    height: 225px;
}

.kalender-undertitel{
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    text-transform: none;
}

.vaskemaskine {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
}

.maskine {
    background-color: var(--ledig-maskine);
    position: relative;
}

.vaskemaskine-status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: 600;
}

.vaskemanskine-tid {
    text-align: center;
}

.kalender-table {
    background-color: #00D4FF;
}

.kalender-table tbody td:not(:last-child){
    border-right: 1px solid black;
}

.kalender-table thead th:not(:last-child){
    border-right: 1px solid black;
}


.green-day-box {
    background-color: var(--ledig-maskine);
    height: 82px;
    width: 100%;
    position: relative;
}

.green-day-box p {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: 600;
}

main{
    padding-bottom: 2em;
}